html {
  margin: 0 auto
}

body {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 120px;
  background-color: #eeeeee;
}

.header {
  display: flex;
  background-color: #0B5351;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

#title {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#acronym {
  font-size: 75px;
  color: white;
}

#full_title {
  color: white;
  font-size: 20px;
  padding: 10px;
}

button {
  background: transparent;
  color: white;
  font-size: 25px;
  border: none;
  transition-duration: 0.3s;
  font-family: 'Pathway Gothic One', sans-serif;
  vertical-align: middle;
  margin: 0px;
  padding: 5px;
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  border: none;
  outline: none;
  cursor: pointer;
  color: #3E9B9C;
}

#navbuttons {
  padding: 25px 0px;
  margin-right: 2%;
}

.FAQ {
  margin: 30px;
}

#faqtitle, #memberstitle {
  font-size: 30px;
  text-align: center;
  color: #0B5351;
}

.QandA {
  margin: 10px 0px;
  padding: 15px 15px;
  background-color: #AFC7C6;
  border-radius: 15px;
}

.QandA:hover {
  box-shadow: 3px 3px #dddddd;
  cursor: pointer;
}

.question {
  font-size: 20px;
  color: #0B5351;
}

.answer {
  font-size: 17px;
  line-height: 25px;
  margin: 10px;
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member {
  margin: 30px;
  margin-top: 0px;
  border-radius: 20px;
  background-color: #AFC7C6;
  width: 300px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 5px;
  padding: 0px 25px;
  height: 300px;
  animation: fade-in ease 3s;
}

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

#name {
    font-size: 25px;
    color: #0B5351;
}
#blurb {
  line-height: 21px;
}

a {
  color: #0B5351;
}

footer {
  background-color: #0B5351;
}
