html {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;

}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #0B5351;
  margin: 0;
  padding: 5px;
}

#logo {

}

button {
  margin: 15px 5px;
  background: transparent;
  color: white;
  font-size: 25px;
  border: none;
  transition-duration: 0.3s;
  font-family: 'Pathway Gothic One', sans-serif;
}

button:focus {
  border: none;
  outline: none;

}

button:hover {
  border: none;
  outline: none;
  cursor: pointer;
  color: #3E9B9C;
}

#lastbutton {
  margin-right: 20px;
}

#slideshow {
  background-color: #9bd2aa;
  color: white;
  text-align: center;
}
