html {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

.header {
  display: flex;
  background-color: #0B5351;
  justify-content: space-between;
}

#title {
  display: flex;
  margin-left: 15px;
}

#acronym {
  font-size: 75px;
  color: white;
}

#full_title {
  color: white;
  font-size: 20px;
  padding: 10px;
}

button {
  background: transparent;
  color: white;
  font-size: 25px;
  border: none;
  transition-duration: 0.3s;
  font-family: 'Pathway Gothic One', sans-serif;
  vertical-align: middle;
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  border: none;
  outline: none;
  cursor: pointer;
  color: #3E9B9C;
}

#navbuttons {
  padding: 25px;
}

footer {
  background-color: #0B5351;
}
